@media (max-width: 376px) {
  /******************************HEADER********************************/
  .header{
    .logos {
      width: 375px;
      height: 60px;
    }
    .welcome-text{
      margin: 60px auto 0;
      font-size: 24px;
    }
  }
  .top-btn{
    width: 15%;
    position: absolute;
    z-index: 9;
    img{
      width: 100%;
    }
  }
  /******************CONTACT********************/
  .contact-form{
    .wrap-form{
      .success-msg{
        font-size: 36px;
      }
    }
    .header-form{
      background-size: 40%;
      font-size: 22px;
      .header-text-form{
        text-align: right;
      }
      .bold-text{
        font-size: 24px;
      }
    }
    .text-in-form{
      font-size: 16px;
    }
    .input-container{
      display: flex;
      flex-direction: column;
      text-align: right;
      padding: 15px 6.25%;
      label{
        font-size: 16px;
      }
      input, select{
        font-size: 16px;
        padding: 10px;
      }
      &.checkbox{
        font-size: 16px;
      }
    }
    .btn-send{
      line-height: 50px;
      font-size: 22px;
    }
  }
// custom checkbox
  .container-check {
    padding-right: 30px;
  }
  .checkmark {
    height: 20px;
    width: 20px;
  }


  .testemonials{
    h3{
      font-size: 24px;
      padding: 45px 0 35px 0;
    }
    .testemonials-list{
      li{
        @include flex-row-end;
        padding: 40px 6.25%;
        .photo-contact{
          width: 100%;
        }
      }
      .quote{
        font-size: 40px;
        padding: 0 15px;
      }
      .description-contact{
        font-size: 16px;

      }
    }
  }
  /***************************FOOTER****************************/
  .bottom-call{
    height: 80px;
    font-size: 20px;
  }
}