
@font-face {
    font-family: 'Narkis';
    src: url('../fonts/NarkisRegular/NarkisRegular.eot');
    src: url('../fonts/NarkisRegular/NarkisRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NarkisRegular/NarkisRegular.woff') format('woff'),
    url('../fonts/NarkisRegular/NarkisRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Narkis';
    src: url('../fonts/NarkisMedium/NarkisMedium.eot');
    src: url('../fonts/NarkisMedium/NarkisMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NarkisMedium/NarkisMedium.woff') format('woff'),
    url('../fonts/NarkisMedium/NarkisMedium.ttf') format('truetype'),
    url('../fonts/NarkisMedium/NarkisMedium.svg#NarkisTamMFW-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Narkis';
    src: url('../fonts/NarkisBold/NarkisBold.eot');
    src: url('../fonts/NarkisBold/NarkisBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NarkisBold/NarkisBold.woff') format('woff'),
    url('../fonts/NarkisBold/NarkisBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}